.fa-arrow-right {
  color: #8b8b8b;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 1px;
  margin: auto;
  margin-top: 20px;
}

.grid-item {
  background-color: #8b8b8b;
  border-top: thick double #373737;
  border-left: thick double #373737;
  border-right: double #FFFFFF;
  border-bottom: double #FFFFFF;
  float: left;
  padding: 4px;
  text-align: center;
  margin: 0.5px;
}

.arrow {
  margin: auto;
  float: left;
  margin-right: 9px;
  margin-left: 9px;
}

img.displayed {
  display: block;
  margin: auto;
  padding: 2px;
}
