h1 {
color: red;
font-family: 'MinecraftiaRegular';
font-weight: normal;
font-style: normal;
}

div.sample{
  text-align: center;
}

#main{
margin-top: 5em;
}

/*
Example for minecraft font 16*16 .
p {
   font-family: 'MinecraftiaRegular';
   font-weight: normal;
   font-style: normal;
} */
