{% extends "base.html" %}
{% block main %}
<div id="main" class="container theme-showcase" role="main">
<h1>Ajouter une recette de craft a la base de donnée</h1>
<form role="form" method="POST" action="{{ url_for('add_crafting_POST') }}">
  {{ form.hidden_tag() }}
  <div class=
    {% if form.craftingid.errors %}
    "form-group has-error"
    {% else %}
    "form-group"
    {% endif %}
    >
    {{ form.craftingid.label }} {{ form.craftingid(size=50,class_="form-control") }}
    {{ form.name.label }} {{ form.name(size=50,class_="form-control") }}
    <div class='grid-container'>
      <div class='grid-item'>
        {{ form.case1(size=1, class_="form_control") }}
      </div>
      <div class='grid-item'>
        {{ form.case2(size=1, class_="form_control") }}
      </div>
      <div class='grid-item'>
        {{ form.case3(size=1, class_="form_control") }}
      </div>
      <div class='grid-item'>
        {{ form.case4(size=1, class_="form_control") }}
      </div>
      <div class='grid-item'>
        {{ form.case5(size=1, class_="form_control") }}
      </div>
      <div class='grid-item'>
        {{ form.case6(size=1, class_="form_control") }}
      </div>
      <div class='grid-item'>
        {{ form.case7(size=1, class_="form_control") }}
      </div>
      <div class='grid-item'>
        {{ form.case8(size=1, class_="form_control") }}
      </div>
      <div class='grid-item'>
        {{ form.case9(size=1, class_="form_control") }}
      </div>
    </div>
    {{ form.output.label }} {{ form.output(size=50,class_="form-control") }}
  </div>
  {% if form.craftingid.errors %}
  <ul class="list-group">
    {% for e in form.craftingid.errors %}
    <li class="list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <input class="btn btn-default" type="submit" value="Enregistrer">
</form>
{% endblock %}
{% block js %}
{{ super() }}
tabcur="tab_add";
{% endblock %}
