{% extends "base.html" %}
{% block main %}
<div id="main" class="container theme-showcase" role="main">
<h1>Ajouter un block a la base de donnée</h1>
<form role="form" method="POST" action="{{ url_for('add_block_POST') }}">
  <div>
    {{ form.idItem.label }} {{ form.idItem(size=50,class_="form-control") }}
    {{ form.meta.label }} {{ form.meta(size=50,class_="form-control") }}
    {{ form.name.label }} {{ form.name(size=50,class_="form-control") }}
    {{ form.text_type.label }} {{ form.text_type(size=50,class_="form-control") }}
  </div>
  <input class="btn btn-default" type="submit" value="Enregistrer">
</form>
{% endblock %}
{% block js %}
{{ super() }}
tabcur="tab_add_block";
{% endblock %}
