{% extends "base.html" %}
{% block main %}
  <div id="main" class="container theme-showcase" role="main">
  </div>
  <h1>{{ title }}</h1>
  <div class="row">
    <ul id="blocks" class="list-group list-group-flush">
      {% for x in data %}
      <li class="list-group-item action">
        <img src="{{ url_for('static', filename='images/items/'~ x.idItem ~ '-' ~ x.meta ~ '.png' ) }}"/>
        <a href="{{url_for('block', i=x.idItem ~ '-' ~ x.meta)}}" >{{x.nameItem}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
{% block js %}
{{ super() }}
tabcur="tab_blocks";
{% endblock %}
