{% extends "base.html" %}
{% block main %}
  <div id="main" class="container theme-showcase" role="main"></div>
  <h1>{{ title }}</h1>

  <div class='grid-container'>
    <div class='grid-item'>
      <img class ="displayed" src="{{ url_for('static', filename='images/items/1-0.png' ) }}" title="Pierre" />
    </div>

    <div class='grid-item'>
      <img class ="displayed" src="{{ url_for('static', filename='images/items/1-0.png' ) }}" />
    </div>
    <div class='grid-item'>
      <img class ="displayed" src="{{ url_for('static', filename='images/items/1-0.png' ) }}" />
    </div>

    <div class='grid-item'>
      <img class ="displayed" src="{{ url_for('static', filename='images/items/1-0.png' ) }}" />
    </div>

    <div class='grid-item'>
      <img class ="displayed" src="{{ url_for('static', filename='images/items/1-0.png' ) }}" />
    </div>

    <div class='grid-item'>
      <img class ="displayed" src="{{ url_for('static', filename='images/items/1-0.png' ) }}" />
    </div>


    <div class='grid-item'>
      <img class ="displayed" src="{{ url_for('static', filename='images/items/1-0.png' ) }}" />
    </div>

    <div class='grid-item'>
      <img class ="displayed" src="{{ url_for('static', filename='images/items/1-0.png' ) }}" />
    </div>

    <div class='grid-item'>
      <img class ="displayed" src="{{ url_for('static', filename='images/items/1-0.png' ) }}" />
    </div>
  </div>
  <div class='clear'></div>
  <div class="arrow">
    <i class="fa fa-arrow-right fa-3x"></i>
  </div>
  <div class='grid-item'>
    <a href="{{ url_for('home') }}"><img class ="displayed" src="{{ url_for('static', filename='images/items/1-0.png' ) }}" title="Pierre"/></a>
  </div>


{% endblock %}
{% block js %}
{{ super() }}
tabcur="tab_crafting";
{% endblock %}
