{% extends "base.html" %}
{% block main %}
<div id="main" class="container theme-showcase" role="main">
<form class="form-horizontal" role="form" action="{{ url_for('signin') }}" method="POST">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">{{ form.username.label }}</label>
    <div>
        {{ form.username(size=50, class_="form_control", placeholder="Username")}}
    </div>
  </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.password.label }}</label>

    <div>
        {{ form.password(size=50, class_="form_control", placeholder="Password")}}
    </div>
  </div>
  <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.passwordConfirmation.label }}</label>

    <div>
        {{ form.passwordConfirmation(size=50, class_="form_control", placeholder="Password Confirmation")}}
    </div>
  </div>
  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Sig in</button>
    </div>
  </div>
</form>
{% endblock %}
