{% extends "base.html" %}
{% block main %}
  <div id="main" class="container theme-showcase" role="main">
  </div>
  <h1>{{data.title}}</h1>
  {% if login %}
    <a href="/author/edit/{{data.id}}">Editer l'auteur</a>
  {% endif %}
  <div class="row">
    <img  src="{{ url_for('static', filename='images/'+data.img) }}" alt="{{data.title}}"/>
    <a href="{{data.url}}">Vers Amazon</a>
  </div>
  <p>{{data.price}}0€</p>
{% endblock %}
{% block js %}
{{ super() }}
tabcur="tab_books";
{% endblock %}
